<div class="jumbotron mt-4">
    <h1 class="display-4">NOTES APP NODE JS AND MONGODB</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed deleniti distinctio nam omnis corrupti
        odit libero exercitationem voluptatibus! Accusantium laboriosam alias velit illo tempore cum enim doloremque,
        aliquid similique quisquam. </p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium hic recusandae repudiandae ipsum est eius enim? Distinctio inventore tempore reiciendis numquam? Et expedita nostrum unde praesentium dolores natus quia necessitatibus!</p>
    <a href="http://faztweb.com" class="btn btn-primary btn-lg">Faztweb</a>
</div>