body {
background: #700547;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #61045F, #700547);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #61045F, #700547); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
}